<%- model_class = Document -%>
<div class="page-header">
  <h1><%= document.title %>
    <% unless document.active %>
    <%= link_to_if current_user.admin?, unlock_document_path(document) do %>
    <%= fa_icon 'lock border pull-right' %>
    <% end %>
  <% end %>
  </h1>
</div>
<%= div_for document,
            class: (document.active? ? 'editable' : 'locked') do %>
  <div class="description">
    <%= document.description %>
  </div>
  <div class="document-sections">
    <%= render(document.sections) || 'Nessuna sezione' %>
  </div>

  <%= link_to 'Aggiungi sezione',
              new_document_section_path(document),
              remote: true %>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              documents_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_path(document), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_path(document),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
